<h1>Welcome#index</h1>

<p><%= link_to 'Preguntas', questions_path %></p>
<p><%= link_to 'Opciones de  Respuesta', answers_path %></p>
<p><%= link_to 'Resultados', results_path %></p>
<p><%= link_to 'Candidatos', candidates_path %></p>
<p><%= link_to 'votos', votes_path %></p>
<p><%= link_to 'Tips', tips_path %></p>
<p><%= link_to 'Cargos', jobs_path %></p>
<p><%= link_to 'Estudios', studies_path %></p>
<p><%= link_to 'Tips', tips_path %></p>
<p><%= link_to 'Version', versions_path %></p>
<p><%= link_to 'Nuevo admin', new_user_path %></p>
