<h1>Listing studies</h1>

<table>
  <thead>
    <tr>
      <th>University</th>
      <th>Study</th>
      <th>Candidate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studies.each do |study| %>
      <tr>
        <td><%= study.university %></td>
        <td><%= study.study %></td>
        <td><%= study.candidate_id %></td>
        <td><%= link_to 'Show', study %></td>
        <td><%= link_to 'Edit', edit_study_path(study) %></td>
        <td><%= link_to 'Destroy', study, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Study', new_study_path %>
